body{
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#main-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 16px;
  padding: 8px;
  background-color: #f9f9f9;
}
