:root {
  --viewport-h: 70vh;
  /* determine view port height, so the user can't scoll */
}

@font-face {
  font-family: 'MyFont';
  src: url('links/CenturyGothicPro.otf') format('truetype');
}

body {
  font-family: 'MyFont';
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin: 0;
  color: rgb(85, 80, 75, 100);
}

#main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 16px;
  padding: 8px;
  background-color: #f9f9f9;
}

#headline {
  position: absolute;
  left: 60px;
  top: 30px;
}

#textbox {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  /* puts textarea + button in a row */
  justify-content: center;
  /* centers them horizontally */
  align-items: center;
  /* aligns vertically */
  gap: 10px;
  /* adds space between them */
}

#container {
  position: absolute;
}

h1 {
  font-family: 'MyFont';
  font-size: 2.3rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 7px;
  color: rgb(85, 80, 75, 100);
}

h2 {
  font-family: 'MyFont';
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.3;
  margin-bottom: 7px;
  color: rgb(85, 80, 75, 100);
}

p{
font-style: oblique;
}

textarea {
  width: 70%;
  padding: 0.75%;
  font-family: 'MyFont';
  font-size: 1rem;
  background-color: transparent;
  border-radius: 20px;
  border-color: rgb(85, 80, 75, 100);
  color: rgb(85, 80, 75, 100);
  padding: 5px 5px;
  height: 1.3rem;
  resize: none;
  /* no resizing for user */
  outline: none;
  /* remove default blue outline */
  line-height: 1;
  /* reduce line height to minimize spacing */
  overflow: hidden;
  /* hide scrollbars since it's single line input */
}

textarea::placeholder {
  padding: 5px 5px;
}

button {
  padding: 12px 30px;
  background-color: transparent;
  color: rgb(85, 80, 75, 100);
  border: none;
  font-family: 'MyFont';
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

/* Animation */

@keyframes fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-80px);
    opacity: 0;
  }
}