:root {
  --viewport-h: 70vh;
  /* determine view port height, so the user can't scoll */
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 0;
}

#main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 16px;
  padding: 8px;
  background-color: #f9f9f9;
}

#headline {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: blue;
}